.venv
.idea
.coverage
.codex
.scannerwork
docs/benchmarks
models
logs
/resources/cache/
node_modules/
tests/e2e/.artifacts/
.env
coverage.xml
htmlcov/
*.code-workspace
*.egg-info
*.md
!README.md
!CHANGELOG.md
sonar-project.properties
