--extra-index-url https://download.pytorch.org/whl/cu128
transformers==4.57.3
huggingface_hub[hf_xet]==0.36.0
torch @ https://download.pytorch.org/whl/cu128/torch-2.9.1%2Bcu128-cp314-cp314-win_amd64.whl
torchvision @ https://download.pytorch.org/whl/cu128/torchvision-0.24.1%2Bcu128-cp314-cp314-win_amd64.whl
sacremoses==0.1.1
sentencepiece==0.2.1
protobuf==6.33.2
bitsandbytes==0.49.0
accelerate==1.12.0
openai==2.14.0
python-dotenv==1.2.1
fastapi==0.128.0
uvicorn==0.40.0
pytest==9.0.2
